<li>
  <h5>livre : {{bookName}}</h5>
  <input style="margin-top: 1em;"
  class="form-control" [(ngModel)]="book">
  <button type="button" (click)="ratingBook()" style="margin-top: 1em;"
  class="btn btn-primary">
     Ajouter un rating
  </button>
</li>
