<div class="row">
<div *ngFor="let film of films" class="col-2">
  <div *ngIf="film.available" [ngStyle]="{'background-color':film.likeNbr>film.dislikeNbr ? 'green' : (film.likeNbr<film.dislikeNbr ? 'red' : 'white') }" >
    <h4>{{film.filmName}}</h4>
    <img src="{{film.filmImg}}"  width="200" height="300">
    <br>
    <button type="button" (click)= "like(film)" class="btn btn-success">J’aime</button>{{film.likeNbr}}
    <br>
    <button type="button" (click)= "dislike(film)" class="btn btn-danger">Je n’aime pas</button>{{film.dislikeNbr}
  </div>
</div>
</div>

