<!-- <li [ngClass]="{'list-group-item' : true , 'list-group-item-success' : isDisabled, 'list-group-item-danger' : !isDisabled }">
    <span [style.color]="isDisabled === true ? 'green' :'red'"> Nom de Livre : {{title}} </span>
    <button type="button" [disabled]="isDisabled"
    class="btn btn-primary" (click)="setDisabled()">Acheter</button>
  <input type="text" class="form-control" [(ngModel)]="title"/>
</li> -->

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>
        Mes livres
        <ul class="list-group">
          <ng-container *ngFor="let book of books">
            <app-book-preview (rate)="onRate($event)" [bookName]="book.bookName">
              <h5>
                Rating Livre: {{book.rating}}
              </h5>
            </app-book-preview>
          </ng-container>
        </ul>
      </h2>
    </div>
  </div>
</div>
