<li class="list-group-item">
  <app-child>
    <span firstName>
       dio
    </span>
    <span lastName>
       hio
    </span>
  </app-child>
  <app-child>
    <span firstName>
      reo
   </span>
   <span lastName>
      rii
   </span>
  </app-child>
  <app-child><span firstName>
    bio
 </span>
 <span lastName>
    kio
 </span></app-child>
</li>
